@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/satoshi-variable.woff2') format('woff2'),
         url('../fonts/satoshi-variable.woff') format('woff'),
         url('../fonts/satoshi-variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }