.headerContainer {
    background-color: #3B3B3B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        @media (max-width: $medium-screen-up) {
            justify-content: center;
            padding: 10px 0;
        }

        .menuBtn {
            background: transparent;
            border: 0;
            box-shadow: none;
            position: absolute;
            left: 16px;
            top: 9px;
            padding: 0;
            @media (min-width: $medium-screen) {
                display: none;
                
            }
            &:focus, &:focus-visible {
                background: transparent;
                outline: none;
            }
        }

        .logo {
            line-height: 0;
        }

        .navList {
            display: flex;
            gap: 0 50px;
            @media (max-width: $small-screen-up) {
                position: absolute;
                left: -250px;
                // left: 0px;
                top: 0;
                width: 250px;
                padding-top: 56px;
                background: #3B3B3B;
                flex-direction: column;
                height: 100vh;
                transition: all .4s;
            }
            .navItem {
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #DDA122;
                    border-radius: 2px;
                    height: 2px;
                    display: none;
                }
                &:hover {
                    color: #DDA122;
                }
                &.active {
                    @media (min-width: $small-screen) {
                        color: #DDA122;
                        &::after {
                            display: block;
                        }
                    }
                }
                @media (max-width: $small-screen-up) {
                    padding: 15px 15px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height:  21px;
                    border-bottom: solid 1px rgba(226, 232, 240, 0.20);
                }
            }

            &.active {
                @media (max-width: $small-screen-up) {
                    left: 0;
                }
            }
        }
        .closeMenu {
            position: absolute;
            top: 10px;
            right: 10px;
            background: transparent;
            border: 0;
            box-shadow: none;
            @media (min-width: $small-screen) {
                display: none;
            }
        }
    }
}